@import url("https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@400;500;600;700&family=Kdam+Thmor+Pro&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.baton {
  background-color: #de5b00;
  border-color: #de5b00;
  border-radius: 5px;
  color: beige;
  font-family: poppins;
}
body {
  background-color: #fde7dc;
  font-family: poppins;
}
img.s {
  width: 40px;
  height: 40px;
  border-radius: 15%;
}
.view_data img{
  width: 100%;
}
.view_data {
  text-align: center;
}
